<!-- modal fade-->
<!-- class=" modal fade modal-mini modal-danger" -->
<div class=" modal fade modal-mini modal-danger " aria-hidden="true" aria-labelledby="myModalLabel" bsModal
    #myModal10="bs-modal" id="myModal10" role="dialog" tabindex="-1">
    <div class=" modal-dialog">
        <div class=" modal-content">
            <div class=" modal-header justify-content-center">
                <button aria-hidden="true" class=" close" (click)="myModal10.hide()" data-dismiss="modal" type="button">
                    <i class=" tim-icons icon-simple-remove text-white">
                    </i>
                </button>
            </div>
            <div class=" modal-body">
                <p>Always have an access to your profile</p>
            </div>
            <div class=" modal-footer">
                <button class=" btn btn-link btn-neutral" type="button">
                    Back
                </button>
                <button class=" btn btn-link btn-neutral" data-dismiss="modal" (click)="myModal10.hide()" type="button">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<!-- 
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Simple modal</h4>
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <input [(ngModel)]="cat.name" type="text">
    <input [(ngModel)]="cat.id" type="number">
    
</div> -->

<!-- <button (click)="passBack()" type="submit" class="btn btn-primary w-100">Pass back</button> -->