<!-- <div class=" card">
    <div class=" card-header">
        <h5 class=" card-category">OVERVIEW</h5>
        <h3 class=" card-title">Members</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class=" col-md-6" *ngFor="let member of membersList">
                <div class=" card card-testimonial">
                    <div class=" card-header card-header-avatar">
                        <a href="#pablo">
                            <img alt="Card image" class=" img img-raised" src="assets/img/james.jpg" />
                        </a>
                    </div>
                    <div class=" card-body">
                        <h4 class=" card-title">{{member.name}}</h4>
                        <p class=" card-description">
                            Number of accounts: {{member.account.length}}
                            <br>
                            Number of transactions: {{member.transactions.length}}
                            <br>

                        </p>
                    </div>
                    <div class=" card-footer">

                        <p class=" category">@robertpriscen</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->