<div class=" content">

    <h5>Settings has been removed</h5>
    <!-- <div class="row">
        <div class="col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h5 class=" card-category">OVERVIEW</h5>
                    <h3 class=" card-title">Categories</h3>
                </div>
                <div class=" card-body">
                    <app-category-overview [categories]=categoryList (deleteSubCat)="removeSubcategory($event)">
                    </app-category-overview>
                </div>
            </div>
            <div class=" row" style="height: 450px">
                <div class="col-md-6">
                    <app-category-settings [categories]=categoryList (addNewCat)="addCategory($event)"
                        (deleteCat)="deleteCategory($event)">
                    </app-category-settings>
                </div>

                <div class="col-md-6">
                    <app-edit-subcategories [categories]=categoryList (addNewSubCat)="addSubcategory($event)"
                        (deleteSubCat)="deleteSubcategory($event)">
                    </app-edit-subcategories>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Accounts -->
    <!-- <div class=" row">
        <div class="col-md-12">
            <app-accounts-overview [accountsList]=accountsList></app-accounts-overview>
            <app-edit-accounts [accountSelected]=accountSelected [accountsList]=accountsList [membersList]=membersList
                (addAcc)="addAccount($event)" (deleteAccount)="deleteAccount($event)"
                (editedAccName)="submitEditedAccountName($event)"
                (editedAccCurrency)="submitEditedAccountCurrency($event)" (accNameSelected)="getAccountSelected($event)"
                (editedAccBalance)="submitEditedAccountBalance($event)">
            </app-edit-accounts>
        </div>
    </div> -->

    <!-- Members -->
    <!-- <div class=" row">
        <div class="col-md-12">
            <app-members-overview></app-members-overview>
        </div>
    </div> -->

</div>


<!-- <div class="content">
    <div class=" card">
        <div class=" card-header">
            <h5 class=" card-category">SETTINGS</h5>
            <h3 class=" card-title">SETTINGS</h3>
        </div>
        <div class=" card-body">
            <tabset class="nav-pills-danger vertical-pills" type="pills" [vertical]="true">
                <tab heading="Categories">
                    <div class="row">
                        <div class="col-md-12">
                            <div class=" card">
                                <div class=" card-header">
                                    <h5 class=" card-category">OVERVIEW</h5>
                                    <h3 class=" card-title">Categories</h3>
                                </div>
                                <div class=" card-body">
                                    <app-category-overview [categories]=categoryList
                                        (deleteSubCat)="removeSubcategory($event)">
                                    </app-category-overview>
                                </div>
                            </div>
                            <div class=" row" style="height: 450px">
                                <div class="col-md-6">
                                    <app-category-settings [categories]=categoryList (addNewCat)="addCategory($event)"
                                        (deleteCat)="deleteCategory($event)">
                                    </app-category-settings>
                                </div>

                                <div class="col-md-6">
                                    <app-edit-subcategories [categories]=categoryList
                                        (addNewSubCat)="addSubcategory($event)"
                                        (deleteSubCat)="deleteSubcategory($event)">
                                    </app-edit-subcategories>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Accounts">
                    <div class=" row">
                        <div class="col-md-12">
                            <app-accounts-overview [accountsList]=accountsList></app-accounts-overview>
                            <app-edit-accounts [accountSelected]=accountSelected [accountsList]=accountsList
                                [membersList]=membersList (addAcc)="addAccount($event)"
                                (deleteAccount)="deleteAccount($event)"
                                (editedAccName)="submitEditedAccountName($event)"
                                (editedAccCurrency)="submitEditedAccountCurrency($event)"
                                (accNameSelected)="getAccountSelected($event)"
                                (editedAccBalance)="submitEditedAccountBalance($event)">
                            </app-edit-accounts>
                        </div>
                    </div>
                </tab>
                <tab heading="Members">
                    <div class=" row">
                        <div class="col-md-12">
                            <app-members-overview></app-members-overview>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div> -->